<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iReserve - Sign Up</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-gray-100">
        <nav class="bg-white py-3">
        <div class="max-w-7xl mx-auto px-4">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <a href="/" class="font-bold text-2xl text-indigo-600">iReserve</a>
                    </div>
                </div>
                <div class="flex items-center space-x-7">
                    <a href="/login" class="text-indigo-700 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 hover:bg-indigo-100 hover:text-indigo-900 px-10 py-1.5 border border-indigo-700 rounded-md">Login</a>
                    <a href="/sign-up" class="bg-indigo-600 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white hover:bg-indigo-700 px-10 py-1.5 rounded-md">Sign Up</a>
                </div>
                </div>
            </div>
        </nav>
        <section class="bg-white py-20">
            <h1 class="text-4xl font-extrabold text-center text-gray-900 leading-tight">New iReserve Account</h1>
            <div class="shadow-sm rounded-3xl p-6 block relative w-[80%] md:w-2/3 2xl:w-1/3 bg-gradient-to-br from-blue-100 to-gray-100 mx-auto p-10 m-10 duration-500 transition-all">
                <h2 class="text-xl font-semibold text-gray-900 mb-4 italic">Fill form</h2>
                <form action="/sign-up" method="POST" th:object="${userDto}" class="space-y-4">
                    <div>
                        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                        <input type="text" id="username" th:field="*{username}" name="username" autocomplete="username"
                               class="mt-1 block w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <span th:if="${#fields.hasErrors('username')}" class="block text-sm text-start text-red-600" th:errors="*{username}"></span>
                    </div>
                    <div class="pb-12">
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <input type="text" id="password" th:field="*{password}" name="password" autocomplete="new-password"
                               class="mt-1 block w-full px-3 py-2 border border-gray-100 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                        <span th:if="${#fields.hasErrors('password')}" class="block text-sm text-start text-red-600" th:errors="*{password}"></span>
                    </div>
                    <button type="submit" class="block absolute bottom-0 italic right-0 w-fit bg-indigo-600 text-white hover:bg-indigo-700 inline-flex justify-center rounded-br-3xl rounded-tl-3xl px-10 py-2 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 font-medium text-md">Create</button>
                </form>
            </div>
            <p class="text-sm text-gray-600 text-center text-xl">
                Already have an account? <a href="/login" class="font-medium text-indigo-600 hover:text-indigo-500">Login</a>
            </p>
        </section>
        <footer class="bg-gray-800 py-12">
            <div class="max-w-7xl mx-auto px-4">
                <div class="flex justify-between items-center">
                    <p class="text-gray-400">© 2024 iReserve. All rights reserved.</p>
                    <div>
                        <a href="#" class="text-gray-400 hover:text-white px-3 py-2">Privacy Policy</a>
                        <a href="#" class="text-gray-400 hover:text-white px-3 py-2">Terms of Service</a>
                    </div>
                </div>
            </div>
    </footer>
    </body>
</html>